@import "~antd/dist/antd.css";
/*
보라 148 136 233
연보라 170 160 264
분홍 251 242 245
진분홍 226 132 168
회색 247 247 247
진회색 201 210 220
*/

* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: row;
  height: 90vh;
  min-height: 500px;
}
section {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 450px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px 0 10px 0;
  border: 1px solid rgb(170, 160, 264, 0.1);
  box-shadow: 5px 5px 1px 1px rgb(170, 160, 264, 0.8);
}
section:first-child {
  margin-right: 15px;
}
.selector-mode__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.selector-mode {
  flex: 1;
  box-sizing: border-box;
  border: none;
  font-weight: 500;
  padding: 5px 0;
  border-radius: 10px;
}
.selector-mode:focus {
  font-size: 15px;
  font-weight: 600;
  outline: none;
}
.selector-mode.items {
  margin: 0 20px 0 0;
  background-color: rgb(247, 247, 247);
  color: rgb(188, 191, 191);
}
.selector-mode.discounts {
  background-color: rgb(251 242 245);
  color: rgb(226 132 168);
}
.selector__render-list-container {
  margin-top: 10px;
  padding: 0 0 0 5px;
  display: flex;
  overflow: auto;
  flex-direction: column;
}
.selector__render-item-container,
.cart-item-box__container {
  display: flex;
  position: relative;
  min-height: 70px;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: rgb(247, 247, 247) solid 1px;
}
.selector__render-item-container {
  padding: 10px 5px;
  margin: 5px 20px 0 5px;
  cursor: pointer;
}
.selector__render-item-sections {
  display: flex;
  flex: 1;
  justify-content: center;
}

.selector__render-item-section.left {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  font-size: 15px;
  font-weight: 500;
}
.selector__render-item-section.left > div:nth-child(2) {
  margin-top: 5px;
  color: rgb(170, 160, 264);
  font-size: 13px;
  font-weight: 300;
}
.selector__render-item-section.right {
  position: absolute;
  right: 0;
  top: 20px;
}
.btn-item-check {
  background-color: transparent;
  border: none;
}
.btn-item-check.unClicked {
  color: rgb(239, 237, 237);
}
.btn-item-check.clicked {
  color: rgb(148, 136, 233);
}
.btn-item-check:focus {
  outline: 0;
}
.cart__container,
.cart__item-section,
.cart__discount-section {
  display: flex;
  flex-direction: column;
}
.cart__item-section,
.cart__discount-section {
  margin-right: -5px;
  padding-left: 10px;
}

.cart__item-section {
  flex: 3;
  overflow: auto;
}
.cart__discount-section {
  flex: 2;
  overflow: auto;
}
.cart-item-box__container {
  padding: 10px 0;
  align-items: center;
  margin-right: 10px;
  display: flex;
}
.cart-discount-card__title {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.cart-discount-card__title > div:first-child {
  display: flex;
  flex-direction: row;
}
.cart-discount-card__title > div:first-child > div:first-child {
  display: flex;
  font-weight: 500;
  margin-right: 5px;
  justify-content: center;
}
.cart-discount-card__title > div:first-child > div:nth-child(2) {
  display: flex;
  min-width: 70px;
  margin-right: 20px;
  flex: 1;
  font-size: 12px;
  color: rgb(148, 136, 233);
  align-items: center;
}
.cart-discount-card__contianer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(251 242 245);
  color: rgb(226 132 168);
  padding: 10px;
  border-radius: 3px;
  margin: 0 15px 5px 0;
}
.cart__discount-card__target-selector {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
}
.cart__discount-card__target-selector > button {
  border: none;
  box-shadow: 1px 1px #eee;
}
.cart__discount-card__target-selector > button:focus {
  outline: none;
}
.cart__discount-card__del-btn {
  position: absolute;
  right: 0;
}
.cart__discount-card__selected-targets {
  display: flex;
  flex-direction: row;
}
.cart__discount-card__selected-targets > div {
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-right: 10px;
}
.cart__total-price-container {
  display: flex;
}
.cart__total-price {
  height: 30px;
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
}
.cart__part-price {
  flex: 1;
  border-left: 1px solid rgb(238, 238, 238);
  padding-left: 10px;
  font-weight: 300;
}
.cart__part-price > div {
  flex: 1;
  text-align: left;
  color: rgb(148, 136, 233);
}
.cart__part-price > div:first-child {
  margin-bottom: 3px;
}
li {
  list-style-type: none;
}
.ant-divider.ant-divider-horizontal {
  margin: 10px;
}
.delete-btn-cross {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}
.delete-btn-cross:focus {
  outline: none;
}
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-select-open .ant-select-selection {
  border-color: #ffffff;
  box-shadow: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.16);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 15px;
}
.modal > * {
  margin-left: 16px;
  margin-right: 16px;
}
.modal__title {
  font-size: 14pt;
  font-weight: 500;
  border-bottom: 1px solid #bebebe;
}
.modal__content {
  margin: 16px 20px 10px 20px;
  position: relative;
}
.modal__content > div {
  display: flex;
  margin-bottom: 10px;
  justify-content: stretch;
}
.modal__content > div:hover {
  color: rgb(122, 110, 218);
}
.modal__content > div > div:nth-child(2) {
  position: absolute;
  right: 5px;
}
.modal__button-container {
  margin: 10px 0 20px 0;
}
.modal__button-container > button {
  width: 100%;
  padding: 12px 0;
  border-radius: 0 0 10px 10px;
  background-color: rgb(148, 136, 233);
  font-size: 13pt;
  color: white;
  border: 0;
  cursor: pointer;
}
.modal__button-container > button:hover {
  background-color: rgb(122, 110, 218);
}
.modal__button-container > button:active {
  background-color: rgb(122, 110, 218);
}
